@model IEnumerable<LuxMobile.Models.Services>

@{
    ViewData["Title"] = "Index";
}


<div class="hero-wrap" style="background-image: url('https://www.salonsuccessacademy.com/wp-content/uploads/2017/04/iStock-640279638-1024x684.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
            <div class="col-md-8 ftco-animate d-flex align-items-end">
                <div class="text w-100 text-center" style="color:white">
                    <h1 class="mb-4">List of <span>Services</span></h1>
                </div>
            </div>
        </div>
    </div>
</div>

<!--White Space-->
<br />
<br />


<h1 style="text-align:center">Available Services</h1>

<div class="container">
    <table class="table">
        <tbody>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.ServiceName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Description)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Price)
                </th>
                <th>
                    <a asp-action="Create">
                        <input type="submit" value="Add" class="btn btn-primary" />
                    </a>
                </th>
            </tr>

        </tbody>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.ServiceName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Description)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        <a asp-action="Edit" asp-route-id="@item.ServiceNo">Edit</a> |
                        @*<a asp-action="Details" asp-route-id="@item.ServiceNo">Details</a> |*@
                        <a asp-action="Delete" asp-route-id="@item.ServiceNo" onclick='return confirm("Are you sure?");'>Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
